<div
    style="
    font-family: Arial, Helvetica, sans-serif;
    display: flex;justify-content: center;flex-direction: column;align-items: center;width: 100%;background-color: #343434;margin: 0;padding: 1rem;">
    <div style="background-color: rgb(245, 245, 245); padding: 1em;border-radius: 5px;max-width: 600px;margin: 1rem 0;">
        <p>Ha recibido este mensaje porque se ha creado una cuenta para usted en el sistema de SIGET.</p>
        <p>Estos son sus credenciales de inicio de sesión:</p>
        <p>Correo electrónico: {{email}}</p>
        <p>Contraseña: {{password}}</p>
        <p>Por favor, inicie sesión en el sistema y cambie su contraseña lo antes posible.</p>
        <p>Para iniciar sesión, haga clic en el siguiente enlace:</p>
        <a href="{{url}}">{{url}}</a>
        <p>Saludos,<br>Equipo de SIGET</p>
    </div>
</div>